@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

body {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  color: #eee;
  background-color: #2c2f33 !important;
  text-align: center;
}